
/* Animations */
@mixin animate {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@mixin animate-in-out {
  -webkit-transition: all 800ms cubic-bezier(0.715, 0.010, 0.035, 1); /* older webkit */
  -webkit-transition: all 800ms cubic-bezier(0.715, 0.010, 0.035, 1.010);
  -moz-transition: all 800ms cubic-bezier(0.715, 0.010, 0.035, 1.010);
  -o-transition: all 800ms cubic-bezier(0.715, 0.010, 0.035, 1.010);
  transition: all 800ms cubic-bezier(0.715, 0.010, 0.035, 1.010); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.715, 0.010, 0.035, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.715, 0.010, 0.035, 1.010);
  -moz-transition-timing-function: cubic-bezier(0.715, 0.010, 0.035, 1.010);
  -o-transition-timing-function: cubic-bezier(0.715, 0.010, 0.035, 1.010);
  transition-timing-function: cubic-bezier(0.715, 0.010, 0.035, 1.010); /* custom */
}

@mixin animate-in-out-faster {
  -webkit-transition: all 600ms cubic-bezier(0.715, 0.010, 0.035, 1); /* older webkit */
  -webkit-transition: all 600ms cubic-bezier(0.715, 0.010, 0.035, 1.010);
  -moz-transition: all 600ms cubic-bezier(0.715, 0.010, 0.035, 1.010);
  -o-transition: all 600ms cubic-bezier(0.715, 0.010, 0.035, 1.010);
  transition: all 600ms cubic-bezier(0.715, 0.010, 0.035, 1.010); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.715, 0.010, 0.035, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.715, 0.010, 0.035, 1.010);
  -moz-transition-timing-function: cubic-bezier(0.715, 0.010, 0.035, 1.010);
  -o-transition-timing-function: cubic-bezier(0.715, 0.010, 0.035, 1.010);
  transition-timing-function: cubic-bezier(0.715, 0.010, 0.035, 1.010); /* custom */
}

/* Shadow */

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
  -webkit-box-shadow:$top $left $blur $color #{$inset};
  -moz-box-shadow:$top $left $blur $color #{$inset};
  box-shadow:$top $left $blur $color #{$inset};
}

/* Boreder Radius */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}