/* AFO Theme */

@import 'themes/afo-variables';

/* Fenix Utils*/

@import '../submodules/fenix-ui-common/css/fenix-style-no-variables';

/* Typography */
@import 'themes/afo-typography';

/* Components */
@import 'components/afo-breadcrumbs';
@import 'components/afo-footer';
@import 'components/afo-form';
@import 'components/afo-highcharts';
@import 'components/afo-lang-picker';
@import 'components/afo-leaflet';
@import 'components/afo-pivot';
@import 'components/afo-radio-buttons';
@import 'components/afo-range-slider';
@import 'components/afo-social';
@import 'components/afo-submenu';
@import 'components/afo-topmenu';
@import 'components/afo-webix-grid';
@import 'components/afo-tabs';


/* Pages */
@import 'pages/afo-about-us';
@import 'pages/afo-catalogue';
@import 'pages/afo-data-management';
@import 'pages/afo-home';
@import 'pages/afo-prices';
@import 'pages/afo-publications';
@import 'pages/afo-statistics';
@import 'pages/afo-home-swipers';


/* Theme */
@import 'themes/afo-theme';