/* AFO Theme */

@import 'themes/afo-variables';

/* Fenix Utils*/

@import '../submodules/fenix-ui-common/css/fenix-style-no-variables';


/* Components */
@import 'components/afo-footer';
@import 'components/afo-lang-picker';
@import 'components/afo-breadcrumbs';
@import 'components/afo-submenu';
@import 'components/afo-topmenu';

/* Pages */
@import 'pages/afo-catalogue';
@import 'pages/afo-data-management';
@import 'pages/afo-home';
@import 'pages/afo-prices';
@import 'pages/afo-publications';
@import 'pages/afo-statistics';
@import 'pages/afo-home-swipers';

/* Special Modules */
@import 'themes/bootstrap-fixed-height';




/* Theme */
@import 'themes/afo-theme';