
#vals{display:block}
.pvtVals{display:block}
.pvtRenderer{display:block}

#unused li{display:none;one;}
#unused{	float:right			;}
/*#myGrid1_div{float:right}*/
.pvtVals{display:none;}
#nested_by{display:none}
#filtre_Value{display:none !important}
.pvtAttrDropdown{display:none}