/* Afo Typography */


/* Sansation Font (Africa Fertilizer logo) */
@font-face {
  font-family: 'sansationregular';
  src: url('fonts/sansation-regular-webfont.eot');
  src: url('fonts/sansation-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sansation-regular-webfont.woff2') format('woff2'),
  url('fonts/sansation-regular-webfont.woff') format('woff'),
  url('fonts/sansation-regular-webfont.ttf') format('truetype'),
  url('fonts/sansation-regular-webfont.svg#sansationregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sansation_lightlight';
  src: url('fonts/sansation-light-webfont.eot');
  src: url('fonts/sansation-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sansation-light-webfont.woff2') format('woff2'),
  url('fonts/sansation-light-webfont.woff') format('woff'),
  url('fonts/sansation-light-webfont.ttf') format('truetype'),
  url('fonts/sansation-light-webfont.svg#sansation_lightlight') format('svg');
  font-weight: normal;
  font-style: normal;

}

.afo-page-subtitle{
  font-size: 12px;
  font-weight: 700;
  color: $afo-green-title;
  text-transform: uppercase;
}

.afo-disclaimer{
  font-weight: 700;
  font-size: 10px;
}

.afo-disclaimer-small{
  font-weight: 300;
  font-size: 10px;
}