/* AFO Theme */

html {
  background-color: $custom-color1;
}

body{
  border-top: $host-menu-height solid $custom-color1;
  background-color: $custom-color1;
  color: $fenix-text;
}



.obj-box {

}

// Buttons

.btn{
  background-color:transparent;
  color: $afo-green-title;
  border-color: $afo-green-title;
  @include fx-border-radius(0);
  font-weight: 500;
  padding: 3px 12px;
  border-width: 2px;
  text-transform: uppercase;

  &:hover{
    background-color: transparent;
    color: $afo-green-title;
    border-color: $afo-green-title;
  }
  &:active{
    background-color: transparent;
    color: $afo-green-title;
    border-color: $afo-green-title;
    @include fx-box-shadow(0, 0, 0, white);
  }

}

.open > .dropdown-toggle.btn-default{
  background-color: transparent;
  color: $afo-green-title;
  border-color: $afo-green-title;
}


.btn[disabled]{
  background-color:transparent;
  color: $fenix-text;
  border-color: $fenix-text;
  @include fx-border-radius(0);
  font-weight: 300;
  padding: 3px 12px;
}

.fx-button-reset{
  border-color:transparent  ;
}

.white-inverted{
  background-color: transparent;
  border-color: white;
  color: white;
}


.page-header{
  margin: 0;
  border-bottom: none;
  h2{
    margin-top: 5px;
  }

  p{
    text-align: left;
  }
}



table{
  border-collapse: separate;
}

/* Page Directories */


/* Directories */

#listCompanies .tabCompany {
  clear: both;
  margin: 10px 0 40px 0;
  background-color: #fff;
  border: none;
  display: none;
}

#listCompanies .tabCompany td {
  padding: 5px;
}

#listCompanies .companyName {
  font-weight: bold;
}

/* TABS  */

/* Page Prices */
/*#aggregator ,*/
#renderer
{
  display: block;
}

#chaudgraph,
#chaudagg {
  display: none;
}


.gt-row-over td {
  cursor: default;
  border-bottom: 1px solid transparent;
  background-color: #DDF3C2;
}



/* Leaflet */

.leaflet-popup-content {
  margin: 8px 16px;
}

.fm-popup-join-content {
  font-size: 14px;
}

#powerTip {
  z-index: 1000;
}

.loader-default {
  background: url('../img/ajax-loader-default.gif') no-repeat top left;
  padding-left: 40px;
  min-height: 40px;
  line-height: 40px;
  vertical-align: middle;
}
.loader-xs {
  background: url('../img/ajax-loader-xs.gif') no-repeat top left;
  padding-left: 16px;
  min-height: 16px;
  line-height: 16px;
  vertical-align: middle;
}

#legendFamilies {
  padding: 5px 0;
  margin: 0;
  list-style: none;
  text-align: right;
}

#legendFamilies li {
  text-align: center;
  margin: 0 2px 0 0;
  font-size: 14px;
  width: 10%;
  display: inline-block;
}



.panel-title a:hover {
  text-decoration: none;
}




#resultsCountries, #resultsCrops{

  .collapse {
    display: block;
    height: 60px !important;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid  $fenix-light-gray;
  }

  .collapsing,
  .collapse.in {
    height: auto !important;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 280px;
    min-height: 60px;
  }
}



#prices_retail_map {
  border: 1px solid #ccc;
  float: left;
  margin: 20px 0;
  height: 300px;
  width: 100%;
}

#prices_retail_grid {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

/* Tables */



.afo-table-header{
  background-color: $fx-main-color-lighter;
  color: $fenix-text;
  cursor: default;
  font-size: 11px;
  font-weight: 500 !important;
  text-transform: uppercase;







  td{
    border-top: none;
  }
}

thead{
  font-style: normal;
  font-weight: normal ;
}



.table {

  thead{

    tr {
      th{
        @include fx-no-border;
      }
    }
  }
}

.modal-dialog  {
  z-index: 1041;
}





.afo-category-list{
  list-style: none;
  padding-left: 0;

  >li {
    padding: 6px 15px;
    border-bottom: 1px solid $afo-hairline;

    >a{
      color:$fenix-text;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 500;
      position:relative;




      &.active:before{
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        background-image: url("img/afo-arrow-right-on.svg");
        background-position: -16px 32px;
        left: -18px;
        top: -1px;
        display: block;


      }

      &:hover:before{
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        background-image: url("img/afo-arrow-right-on.svg");
        background-position: -16px 32px;
        left: -18px;
        top: -1px;
        display: block;


      }

      &active{

        color: $afo-green-title;

      }

      &:hover{
        text-decoration: none;
        color: $afo-green-title;
      }

    }
  }
}


.afo-sidebar-item {
  background-color: $afo-light-bg;
  padding: 10px;

  .afo-title{
    margin-top: 0;
    margin-bottom: 25px;
  }


  .afo-sidebar-img{
    float: right;
    font-size: 20px;
    height: 35px;
    width: 35px;
    display: inline-block;
    text-align: center;
  }

}

.afo-sidebar-img-holder{
  text-align: center;
  background-color: $custom-color1;
  padding: 20px 5px;
}

.afo-sidebar-first{
  margin-top: 30px;
}

.afo-border{
  border: 1px solid $afo-hairline;
}

.afo-selector-list {
  height: 300px;
  overflow: auto
}


/* fxTree Widget */
.fxTree {
  position: relative;
  overflow: hidden;
  height: 100%;
  background-color: #E9F7D8  
}
.fxTree .fxTreeList {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x:hidden;
  overflow-y:scroll;
  background-color: #fff
}
.fxTreeRadios {
  padding:5px;
  background-color: #E9F7D8
}
.fxTree input {
  letter-spacing: 1px;
}
.fxTreeAddInfo {
  color: #bbb;
  font-size: 12px;
}
.fxTreeRadios label {
  width: auto;
}
.fxTreeSels {
  position: relative;
  margin-top: -23px;
  margin-right: 6px;
  background: #fff;
}
.fxTreeSels .btn:hover,
.fxTreeSels .btn {
  height: 18px;
  font-size: 11px;
  line-height: 10px;
  border: 1px solid #e4e4e4;
  background-color: #E9F7D8;
}
.fxTreeSels .btn:focus {
  background-color: #d9e7c8; 
}
.fxTreeSels .btn:first-child {
  border-right: none;
}
.fxTreeSearch {
  font-size: 13px;
  font-weight: normal;
  border: 2px solid #E9F7D8;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.3)
}
.fxTreeSearch:focus {
  border-color: #5ba539
}

#afo-resume {
  padding: 5px 0;
}
#afo-resume li {
  list-style: none;
  float: left;
  background-color: #e4e4e4; 
  padding:5px;
  margin:0 10px 4px 0;
}