/* AFO Theme */

$host-menu-height : 50px;

html {
  background-color: $custom-color1;
}

body{
  border-top: $host-menu-height solid $custom-color1;
  background-color: $custom-color1;
  color: $fenix-text;
}

.navbar{
  min-height: 40px;
}

.navbar-default {
  @include fx-gradient(#a0c03a, #5ba539);
  border: none;


  li {

    a{
      font: $afo-text-menu-item !important;
      color: white !important;
      text-transform: uppercase;
      padding-top: 16px !important;
      padding-bottom: 16px !important;
      border-color: $custom-color4 !important;
      border-bottom-color: transparent !important;
      border-bottom: 0px !important;
      border-right: 1px solid $custom-color4;
    }
  }

}

.navbar-brand{
  background-image: url("img/afo-ico.svg") !important; /* To be removed */
  background-size: 40px 40px !important;
  height: 49px !important;
  width: 50px;
  background-repeat: no-repeat;
  background-color: white;
  background-position: 5px center !important;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
  background-color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  border-bottom-color: transparent;
  background-color: white !important;
  color: $fx-cool-blue !important;
  border-right: 1px solid $custom-color4 !important;
}

.container {
  background-color: white;
}

.navbar .container {
  background-color: transparent;
}
/* Sansation Font (Africa Fertilizer logo) */
@font-face {
  font-family: 'sansationregular';
  src: url('fonts/sansation-regular-webfont.eot');
  src: url('fonts/sansation-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sansation-regular-webfont.woff2') format('woff2'),
  url('fonts/sansation-regular-webfont.woff') format('woff'),
  url('fonts/sansation-regular-webfont.ttf') format('truetype'),
  url('fonts/sansation-regular-webfont.svg#sansationregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sansation_lightlight';
  src: url('fonts/sansation-light-webfont.eot');
  src: url('fonts/sansation-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/sansation-light-webfont.woff2') format('woff2'),
  url('fonts/sansation-light-webfont.woff') format('woff'),
  url('fonts/sansation-light-webfont.ttf') format('truetype'),
  url('fonts/sansation-light-webfont.svg#sansation_lightlight') format('svg');
  font-weight: normal;
  font-style: normal;

}

.obj-box {
  border: none;
}

// Buttons

.btn{
  background-color:transparent;
  color: $fenix-text;
  border-color: $fenix-text;
  @include fx-border-radius(0);
  font-weight: 300;
  padding: 3px 12px;

  &:hover{
    background-color: transparent;
    color: $fx-cool-blue;
    border-color: $fx-cool-blue;
  }
  &:active{
    background-color: transparent;
    color: $fx-cool-blue;
    border-color: $fx-cool-blue;
    @include fx-box-shadow(0, 0, 0, white);
  }

}


.btn[disabled]{
  background-color:transparent;
  color: $fenix-text;
  border-color: $fenix-text;
  @include fx-border-radius(0);
  font-weight: 300;
  padding: 3px 12px;
}

.fx-button-reset{
  border-color:transparent  ;
}

.white-inverted{
  background-color: transparent;
  border-color: white;
  color: white;
}


.page-header{
  margin: 0;
  border-bottom: none;
  p{
    text-align: left;
  }
}

/* Stefano's original CSS from main.css */


#page-catalogue #fertMap {
min-height: 500px;
}
#page-catalogue #fertMap {
height: 500px;
  position: relative;
}

#page-catalogue #chartFamilies {
height: 240px;
width: auto;
}


table{
  border-collapse: separate;
}

/* Page Directories */


/* Directories */

#listCompanies .tabCompany {
  clear: both;
  margin: 10px 0 40px 0;
  background-color: #fff;
  border: none;
  display: none;
}

#listCompanies .tabCompany td {
  padding: 5px;
}

#listCompanies .companyName {
  font-weight: bold;
}

/* TABS  */

/* Page Prices */
/*#aggregator ,*/
#renderer
{
  display: block;
}

#chaudgraph,
#chaudagg {
  display: none;
}

#pivot #finaltable {
  overflow: auto;
  width: 1000px;
  height: 400px;
}
#pivot .pvtHorizList {
  padding: 5px !important;
}
/*#pivot .ui-sortable-handle {
	font-family: 'Roboto Condensed', sans-serif !important;
	font-weight: normal;
	text-transform: capitalize;
	font-size: 14px;
	background: #B4D180;
	border:1px solid #A4C170;
	padding: 2px 4px;
}*/
.fx-olap-holder * {
  box-sizing: content-box;
}
.gt-row-over td {
  cursor: default;
  border-bottom: 1px solid transparent;
  background-color: #DDF3C2;
}

#pivot .ui-sortable-handle:hover {
  box-shadow: 1px 1px 4px rgba(80,80,80,0.3)
}

#pivot td,
#pivot tr
#pivot th {
  padding: 2px !important;
  margin: 0 !important;
}

#pivot .invi {
  display: none;
}

/* Leaflet */

.leaflet-popup-content {
  margin: 8px 16px;
}

.fm-popup-join-content {
  font-size: 14px;
}

#powerTip {
  z-index: 1000;
}

.loader-default {
  background: url('../img/ajax-loader-default.gif') no-repeat top left;
  padding-left: 40px;
  min-height: 40px;
  line-height: 40px;
  vertical-align: middle;
}
.loader-xs {
  background: url('../img/ajax-loader-xs.gif') no-repeat top left;
  padding-left: 16px;
  min-height: 16px;
  line-height: 16px;
  vertical-align: middle;
}

#legendFamilies {
  padding: 5px 0;
  margin: 0;
  list-style: none;
  text-align: right;
}

#legendFamilies li {
  text-align: center;
  margin: 0 2px 0 0;
  font-size: 14px;
  width: 10%;
  display: inline-block;
}



.panel-title a:hover {
  text-decoration: none;
}


.panel-left {
  height: 530px;
  overflow-y:auto;
}

#resultsCountries, #resultsCrops{

  .collapse {
    display: block;
    height: 60px !important;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid  $fenix-light-gray;
  }

  .collapsing,
  .collapse.in {
    height: auto !important;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 280px;
    min-height: 60px;
  }
}



#prices_retail_map {
  border: 1px solid #ccc;
  float: left;
  margin: 20px 0;
  height: 300px;
  width: 100%;
}

#prices_retail_grid {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

/* Tables */

.afo-table-header{
  background-color: $custom-color1;

  color: $fenix-text;
  cursor: default;
  font-size: 11px;
  font-weight: 500 !important;
  text-transform: uppercase;
  border: none;

  td{
    border-top: none;
  }
}

thead{
  font-style: normal;
  font-weight: normal ;
}

