/* AFO  BreadCrumbs */

.breadcrumb{
  background-color: transparent;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 0;
  margin-bottom: 0;

  a{
    color: $afo-green-title;
    text-transform: uppercase;
    &:hover{

    }

  }

}

.breadcrumb > li + li:before{
  content: '|';
  color: $afo-green-title;
}