/* Afo Tabs component */

.afo-tabs{

  .nav-tabs {

    @include fx-transfor-me(translateX(-10px));

    >li {

      margin-bottom: 10px;

      >a {

        padding: 0 10px;

        color: $fenix-text;
        font-weight: 500;
        font-size: 12px;

        &:before {
          @include animate;
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: $afo-green-title;
          left: 0;
          bottom: -2px;
          pointer-events: none;
          @include fx-transfor-me(scaleX(0));
        }

      }


      &.active {

        >a {
          color: $afo-green-title;

          &:before{
            @include animate;
            @include fx-transfor-me(scaleX(0.8));

          }

        }

      }


    }
  }

  .tab-content {
    padding-top: 10px;

    > div {
      padding: 0;
    }


  }


  h3{
    font-size: 32px;
    font-weight: 100;
    color: $fenix-text;

  }

  li{
    margin: 12px 0;

  }



}