/* Afo Pivot */

.pvtAxisContainer, .pvtVals{

  background: transparent;
}

#pivot{
  >table{

    >tbody{
      border: 0;

      >tr{
      position: relative;



        &:nth-child(2){
          position: relative;

          &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: $afo-hairline;


          }

          &:before{
            content: 'ROW';
            position: absolute;
            top: 5px;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
          }

        }


        &:nth-child(3){
          position: relative;

          &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: $afo-hairline;


          }

          &:before{
            content: 'COLUMN';
            position: absolute;
            top: 5px;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
          }


        }


      }
    }

  }

}


.fx-olap-holder{
  overflow: hidden;
}


#fx-olap-holder-div{
  overflow: auto;
}

#pivot #finaltable {
  overflow: auto;
  width: 100%;
  height: 400px;
}
//#pivot .pvtHorizList {
//  padding: 5px !important;
//}

.fx-olap-holder * {
  box-sizing: content-box;
}

//#pivot .ui-sortable-handle:hover {
//  box-shadow: 1px 1px 4px rgba(80,80,80,0.3)
//}
//
//#pivot td,
//#pivot tr
//#pivot th {
//  padding: 2px !important;
//  margin: 0 !important;
//}
//
#pivot .invi {
  display: none;
}