/* AFO  BreadCrumbs */

#breadcumb_container{
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.breadcrumb{
  background-color: transparent;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 0;
  margin-bottom: 0;



  li{



    a{
      color: $afo-green-title;
      text-transform: uppercase;


      &:hover{

      }

    }

  }



}

.breadcrumb > li + li:before{
  content: '|';
  color: $afo-green-title;
}