/* Afo Leaflet */

.afo-simple-map {

  .leaflet-bar{
    @include fx-noshadow;
    @include fx-border-radius(0);
  }

  .leaflet-bar a, .leaflet-bar a:hover{
    height: 23px;
    width: 23px;
    line-height: 23px;
  }


  .leaflet-bar a:first-child, .leaflet-bar a:last-child{
    @include fx-no-border-radius;
    @include fx-border-radius(100%);
    border-color: transparent;
    margin: 5px;
  }

  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    font-family: 'eldorado_stroke';
    font-size: 0;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-indent: 0;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }

  .leaflet-control-zoom-out {
    font-size: 0px;
  }

  .leaflet-touch .leaflet-control-zoom-in {
    font-size: 0;
  }
  .leaflet-touch .leaflet-control-zoom-out {
    font-size: 0;
  }

  .leaflet-control-zoom-in:before {
    color: $fx-cool-blue;
    font-size: 24px;
    content: "\eb2a";
  }

  .leaflet-control-zoom-out:before {
    color: $fx-cool-blue;
    font-size: 24px;
    content: "\eb28";
  }



}







#fertMap{


  /* Specif override for the calogue map - TO BE REVIEWED */
  .leaflet-control-zoom.leaflet-bar.leaflet-control{
    background-color: transparent !important;
    border-color: transparent !important;

    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out{
      height: 23px !important;
      width: 23px !important;
      font-size: 0px !important;
      background-image: none;
      position: relative;
      top: 40px !important;
    }

  }

  .fm-controller-box-icons-container{
    display: none !important;
  }



  .fm-fullscreen{
    display: none !important;
  }

  .fm-disclaimerfao{
    display: none !important;
  }

  .leaflet-control-scale{
    left: 5px !important;
  }

}
