<div class="row">
    <div class="col-sm-8">
        <% if ( model.picture ) { %>
        <img src="<%= model.picture %>" class="img-responsive" alt="Responsive image">
        <% } %>

        <div class="">
            <%= model.title %>
        </div>

        <div class="">
            <%= model.subtitle %>
        </div>

        <div class="">
            <%= model.text %>
        </div>

    </div>
    <div class="col-sm-4">

        <% if ( model.documents && Array.isArray(model.documents)) { %>
            <% _.each( model.documents, function(d) { %>
                <a href="<%= d.url %>">  <div><%= d.title %></div> </a>
            <% }); %>
        <% } %>

        <% if ( model.courtystat){ %>

            <a href="<%= model.courtystat %>">  <div>CountrySTAT Page</div> </a>

        <% } %>

    </div>
</div>