
* {
	font-family: 'Roboto Condensed', sans-serif !important;
}

body { 
	padding-top: 50px;
	background-color: #ffffff;
	color: #666666;
	font-family: 'Roboto Condensed', sans-serif !important;
}

h1, h2 {
	font-family: 'Roboto Condensed';
	color: #336601 ;
}

.obj-box {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #FFFFFF;
	border-color: #D8D8D8;
	border-image: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px 1px 2px;
	margin: 0 0 20px;
	padding: 10px;
	width: auto;
}

.navbar .container {
	position: relative;
}

.navbar-default { 
	background-color: #ffffff;
}

.navbar-brand {
	display: block;
	width: 55px;
	height: 50px;
	background-image: url('../images/logo.png');
	padding: 0;
	background-repeat: no-repeat;
}

.nav-pills li a {
	color: #336601;
}

/* TABS  */

.nav-tabs {
	margin: 40px 15px;
}

.jumbotron, .jumbotron h1, .jumbotron h2 {
	color: white;
}

.container .jumbotron {
	padding: 48px 0;
}

.jumbotron, .jumbotron-wrapper {
	background-color: #B4D180; 
}

.white-inverted{
	background-color: transparent;
	border-color: white;
	color: white;
}


#lang_picker{
	background-color: #336601;
	height: 18px;
	color:#FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 12px;
	margin-top: 16px;
	margin-left: 16px;
}

#lang_picker li{
	border-right: 1px solid #FFFFFF;
	height: 18px;
	padding: 0 4px 0 4px;
	cursor: pointer;
}

#lang_picker li a{
	padding: 0 5px;
	color: white;
	line-height: 18px;
}

#lang_picker li:last-child{
	border-right: none;
}

.footer {
	border-top: 1px solid #EEEEEE;
	margin-top: 40px;
	padding-bottom: 40px;
	padding-top: 40px;
}

/*************************************/

.navbar-fixed-top {
  background-color: #DDF3C2;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #B4D180;
  color: #fff;
}


#page-catalogue .jstree,
#page-catalogue #fertMap {
	height: 455px;
}
#page-catalogue #fertMap {
	margin-top: 10px;
	height: 500px;
}

#page-catalogue #chartFamilies {
	height: 240px;
	width: auto;
}

#page-catalogue #listFamilies {
	height: 500px;
}

.jstree {
	overflow-y: scroll;
}

.leaflet-control-scale.leaflet-control {
	display: none;
}

/* Page Directories */

#page-directories #listCountries .btn {
  color: #B4D180
}
#page-directories #listCountries .btn.active {
  color: #fff
}

/* Directories */

#listCompanies .tabCompany {
	clear: both;
	margin: 10px 0 40px 0;
	background-color: #fff;
	border: none;
	box-shadow: 0 0 4px #ccc;
	display: none;
}

#listCompanies .tabCompany td {
	padding: 5px;
}

#listCompanies .companyName {
  font-weight: bold;
}

/* TABS  */

.nav-tabs {
  margin: 40px 15px;
}

/* Page Prices */
/*#aggregator ,*/
#renderer
{
	display: block;
}

#chaudgraph,
#chaudagg {
	display: none;
}

#pivot #finaltable {
	overflow: auto;
	width: 1000px;
	height: 400px;
}
#pivot .pvtHorizList {
	padding: 5px !important;
}
#pivot .ui-sortable-handle {
	font-family: 'Roboto Condensed', sans-serif !important;
	font-weight: normal;
	text-transform: capitalize;	
	font-size: 14px;
	background: #B4D180;
	border:1px solid #A4C170;
	padding: 2px 4px;
}
#pivot .ui-sortable-handle:hover {
	box-shadow: 1px 1px 4px rgba(80,80,80,0.3)
}

#pivot td,
#pivot tr 
#pivot th {
	padding: 2px !important;
	margin: 0 !important;
}

#pivot .invi {
	display: none;
}

/* Leaflet */

.leaflet-popup-content {
	margin: 8px 16px;
}

.fm-popup-join-content {
	font-size: 14px;
}

#powerTip {
	z-index: 1000;
}

.loader-default {
	background: url('../images/ajax-loader.gif') no-repeat top left;
	padding-left: 40px;
	min-height: 40px;
	vertical-align: middle;
	line-height: 40px;
}

#legendFamilies {
	padding: 5px 0;
	margin: 0;
	list-style: none;
	text-align: right;
}

#legendFamilies li {
	text-align: center;
	margin: 0 2px 0 0;
	font-size: 14px;
	width: 10%;
	display: inline-block;
}

.collapse {
	display: block;
	height: 60px !important;
	overflow: hidden;
}

.panel-title a:hover {
	text-decoration: none;
}

.collapsing,
.collapse.in {
	height: auto !important;
	overflow: hidden;
	overflow-y: scroll;
	max-height: 280px;
	min-height: 60px;
}

