/* AFO - Home Style */



.afo-home-items-container{
  padding: 15px 0 45px 0;
  border-bottom: 1px solid $afo-hairline;
}

.afo-home-item{

 .afo-home-item-date{
   font-size: 12px;
   em{
     font-style: normal;
     color: $afo-green-title;

   }
 }

  .afo-home-item-title{
    font-size: 16px;
    min-height: 45px;
  }

  .afo-home-item-content {
    min-height: 125px;
    padding-right: 30px;
  }



}
.afo-home-partner-container{
  list-style: none;
  padding-left: 0;
  margin-top: 20px;

  ul{
    li{
      width: 14%;

      a{
        background-size: contain;
        width: 100%;
        height: 50px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-color: transparent;
      }

      a[href="#part-ifdc"]{background-image: url("img/partners-logos/IFDC_logo.svg");}

      a[href="#part-au"]{background-image: url("img/partners-logos/AU_AfricanUnion_logo.svg");}

      a[href="#part-afap"]{background-image: url("img/partners-logos/AFAP_new-logo.svg");}

      a[href="#part-ifia"]{background-image: url("img/partners-logos/ifa.svg");}

      a[href="#part-fao"]{background-image: url("img/partners-logos/FAO_logo.svg");}

      a[href="#part-argus"]{background-image: url("img/partners-logos/argus-logo.svg");}

      a[href="#part-cs"]{background-image: url("img/partners-logos/cs-logo.svg");}



      }

    }
}

.tab-content{
  padding-top: 25px;
  margin-bottom: 40px;
  min-height: 200px;
}

.nav-tabs{
  border-color: transparent;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
  border-color: transparent;
}

.nav > li > a:focus, .nav > li > a:hover{
  background-color: transparent;
}

.nav-tabs > li > a:hover{
  border-color: transparent;
}

.afo-home-partn{
  float: left;
  width: 14%;
  background-color: red;
  height: 20px;
  padding: 15px;
}

