/* Africa Fertilizer - Swiper */


/* Highlights */
#afo-high-swiper-container-wrapper{
  width:100%;
  height: 389px;
  position: relative;

    .swiper-slide{
     // padding: 50px;
    }

    .afo-slider-content{
      height: 100%;
      min-width: 250px;
      width: 35%;
      padding: 35px;
      background-color: $afo-dark-bg;
    }

    .afo-swiper-caption{
      position: relative;
      top: 50%;
      @include fx-transfor-me(translateY(-55%));
    }

    .afo-slider-title {
      color: white;
      margin-top: 10px;
      font:$afo-swiper-title;
    }
    .afo-slider-subtitle{
      color: white;
      font-weight: 500;
      font-size: 10px;
      text-transform: uppercase;
    }

    .arrow-left {
      float: left;
      background: url(img/afo-arrow-left-on.svg) no-repeat;
      width: 48px;
      height: 48px;
      display: inline-block;
      border-right: 1px solid $afo-hairline;

      &.arrow-disabled{
        background: url(img/afo-arrow-left-off.svg) no-repeat;
      }
    }

    .arrow-right {
      float: left;

      background: url(img/afo-arrow-right-on.svg) no-repeat;
      width: 48px;
      height: 48px;
      display: inline-block;
      border-right: 1px solid $afo-hairline;

      &.arrow-disabled{
        background: url(img/afo-arrow-right-off.svg) no-repeat;
      }

    }


}



.afo-slider-1{
  background: url(../src/images/slider-home-1.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.afo-slider-2{
  background: url(../src/images/slider-home-2.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.afo-slider-3{
  background: url(../src/images/slider-home-3.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.afo-slider-4{
  background: url(../src/images/slider-home-4.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.afo-slider-5{
  background: url(../src/images/slider-home-5.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}



/* Maps */
#afo-maps-swiper-container-wrapper{
  width:100%;
  height: 389px;
  position: relative;

  .swiper-slide{
    position: relative;

    .afo-title-white{
      position: absolute;
      margin: 0;
      z-index: 1;
      top: 15px;
      left: 15px;
    }

  }

}

.arrow-up {
  float: left;
  background: url(img/afo-arrow-up-on.svg) no-repeat;
  width: 48px;
  height: 48px;
  display: inline-block;
  border-right: 1px solid $afo-hairline;

  &.arrow-disabled{
    background: url(img/afo-arrow-up-off.svg) no-repeat;
  }
}

.arrow-down {
  float: left;
  background: url(img/afo-arrow-down-on.svg) no-repeat;
  width: 48px;
  height: 48px;
  display: inline-block;
  border-right: 1px solid $afo-hairline;

  &.arrow-disabled{
    background: url(img/afo-arrow-down-off.svg) no-repeat;
  }

}

.swiper-container {
  height: 340px;
  width: 100%;
}
.content-slide {
  padding: 20px;
}

.afo-box-ui-container {

  height: 49px;
  border: 1px solid $afo-hairline;
}

.swiper-map{
  width: 100%;
  height: 100%;
}

.afo-box-ui-text-btn{
  display: inline-block;
  height: 47px;
  line-height: 48px;
  float: left;
  font-size: 12px;
  font-weight: bold;
  color: $afo-green-title;
  padding: 0 30px;
  border-right: 1px solid $afo-hairline;

  &:hover, &:active, &.focus, &:visited{
    text-decoration: none;
    background-color: $afo-btn-hover;
    color: $afo-green-title;;
  }


}

/* /////////////// Home Swiper Media Queries */

@media (min-width: 768px) and (max-width: 990px) {


}

@media (max-width: 767px) {

  #afo-high-swiper-container-wrapper{

    .afo-slider-content{
      width:100%;
    }

  }



}