/* AFO - Statistics Page Style */

.fx-catalog-modular-menu{
  .panel-body{
    .btn {
      border: none;
      border-color: transparent;

    }
  }
}

#fx-catalog-submit-btn.disabled{
  border: none;
  background-color: $custom-color1;
}

.fx-widget{
  border: none;
}

.fx-handle{
  border: none;
}

#data-sources-s{
  display: inline-block;
}

#n-p-s{
  display: inline-block;
}


.afo-statistics-glance{

  .span12{

    hr{
      margin: 0 0 10px 0;
    }

  }


}


.afo-stat-sources{

  .afo-title-gray{
    margin-top: 0 ;
  }

}