/* AFO - Prices Page Style */

.afo-prices-international-chart{
  padding-left: 70px;

  a{
    color: $fenix-text;
  }

}

.afo-prices-tab-content{
  width: 100%;
}






.gt-toolbar-box{
  border-color: transparent !important;
}

.gt-first-page, .gt-prev-page, .gt-next-page, .gt-last-page, .gt-goto-page{
  background-color: transparent !important;
  height: 15px !important;
  width: 15px !important;
  background-repeat: no-repeat;
}

.gt-first-page{
  @include fx-small-icons(-135px,-15px);
}

.gt-prev-page{
  @include fx-small-icons(-105px,-15px);
}

.gt-next-page{
  @include fx-small-icons(-120px,-15px);
}

.gt-last-page{
  @include fx-small-icons(-135px,0);
}

.gt-goto-page{
  @include fx-small-icons(-15px,0);
}

#prices_retail_grid {

  .afo-table-header{
    th{
      border-bottom: none !important;
      font-weight: 100;
      color: black;
    }
  }
  tbody{
    tr:hover{
     // cursor: pointer;
     // background-color: $custom-color3;
      background-color: transparent;
    }
  }
}

#chart_prices_inter{
  margin-bottom: 20px;
}


.afo-notes{

  text-align: justify;
  text-justify: inter-word;

  &:first-child{
    padding-right: 30px;
  }

  &:last-child{
    padding-left: 30px;
  }


}


//// Grid ///

.afo-grid-holder{

  >.afo-title{
    margin-bottom: 20px;
    margin-top: 30px;
  }

}


#prices_international_grid{


  table{
    font-family: 'Roboto Condensed';




    .afo-table-header{
      background-color: $fx-main-color-lighter;
    }

  }



}


.afo-national-prices{

  .afo-title-gray{
    margin-top: 10px;
    margin-bottom: 15px;
  }

  #country-search-s, #product-search-s{
    float: right;
    width: 50%;
    height: 20px;
    margin-top: 8px;
    font-size: 10px;
  }


}

.afo-comp-timerange{

  .col-xs-12{
    overflow: hidden;
  }
  .afo-title-gray{
    margin-top: 0;
  }
}

/*//////////////////////////////////////////// Navbar Media queries */

@media (min-width: 768px) and (max-width: 990px) {

}

@media (max-width: 767px) {


  .afo-prices-international-chart{
    padding-left: 0px;
  }


  .afo-notes{


    &:first-child{
      padding-right: 15px;
    }

    &:last-child{
      padding-left: 15px;
    }


  }


}