/* AFO - Prices Page Style */

.afo-prices-international-chart{
  height: 500px;
}

.afo-prices-tab-content{
  width: 100%;
}

.afo-market-highlights {
  column-count: 2;
}

#pivot{
  table {
    border: 0;
  }
}

.pvtAxisContainer, .pvtVals{
  border: none !important;
  background: $fenix-light-bg !important;
}

.gt-toolbar-box{
  border-color: transparent !important;
}

.gt-first-page, .gt-prev-page, .gt-next-page, .gt-last-page, .gt-goto-page{
  background-color: transparent !important;
  height: 15px !important;
  width: 15px !important;
  background-repeat: no-repeat;
}

.gt-first-page{
  @include fx-small-icons(-135px,-15px);
}

.gt-prev-page{
  @include fx-small-icons(-105px,-15px);
}

.gt-next-page{
  @include fx-small-icons(-120px,-15px);
}

.gt-last-page{
  @include fx-small-icons(-135px,0);
}

.gt-goto-page{
  @include fx-small-icons(-15px,0);
}

#prices_retail_grid {

  .afo-table-header{
    th{
      border-bottom: none !important;
      font-weight: 100;
      color: black;
    }
  }
  tbody{
    tr:hover{
      cursor: pointer;
      background-color: $custom-color3;
    }
  }
}


