/* Afo Directories */

#page-directories{

#table-result{

  border-color: $afo-hairline;

  font-family: 'Roboto Condensed';

  .table > thead > tr > th{
    border-bottom: 0;
    font-weight: normal;
  }

  thead{
    background-color: #ddf3c2;

  }

}

}