/* AFO - Publication Page Style */


#page-publications{

  .list-group-item{
    border: none;
    @include fx-border-radius(0);
  }

  .list-group-item:first-child{

    @include fx-border-radius(0);
  }

  .list-group-item:last-child{

    @include fx-border-radius(0);
  }


}

#listPubs {
  list-style: none;
  padding-left: 0;

}

.afo-pub-category-title{
  margin-top: 10px;
}

.afo-sidebar-item {
  background-color: $afo-light-bg;
  padding: 10px;
}

.afo-pub-category-list{
  list-style: none;
  padding-left: 0;
  
  >li {
    >a{



    }
  }
}