/* AFO - Publication Page Style */


#page-publications{

  .list-group-item{
    @include fx-border-radius(0);
    border-top-color:none;
    border-left-color:none;
    border-right-color:none;
    border-bottom-color:$afo-hairline;
  }

  .list-group-item:first-child{

    @include fx-border-radius(0);
  }

  .list-group-item:last-child{

    @include fx-border-radius(0);
    padding-bottom: 20px;
  }


}

.afo-pub-holder{
  background-color: $afo-light-bg;
}

#listPubs {
  list-style: none;
  padding-left: 0;

  .title{
    color: $afo-green-title;

    &:hover{
      text-decoration: none;
      color: $afo-green-title;
    }
  }

  li{
    margin: 20px 0;
    //padding-bottom: 20px;
    //border-bottom: 1px solid $afo-hairline;
  }

}

.afo-pub-category-title{
  margin-top: 0;
}

.afo-sidebar-item {
  background-color: $afo-light-bg;
  padding: 10px;
}

.afo-pub-category-list{
  list-style: none;
  padding-left: 0;
  
  >li {
    padding: 6px 15px;
    border-bottom: 1px solid $afo-hairline;

    >a{
      color:$fenix-text;
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 500;
      position:relative;




      &.active:before{
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        background-image: url("img/afo-arrow-right-on.svg");
        background-position: -16px 32px;
        left: -18px;
        top: -1px;
        display: block;


      }

      &:hover:before{
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        background-image: url("img/afo-arrow-right-on.svg");
        background-position: -16px 32px;
        left: -18px;
        top: -1px;
        display: block;


      }

      &active{

        color: $afo-green-title;

      }

      &:hover{
        text-decoration: none;
        color: $afo-green-title;
      }

    }
  }
}

.afo-pub-filter-header{

}

.afo-pub-order{
  position: relative;
  top: 5px;
}

.afo-field-title{
  font-size: 10px;
  font-weight: 500;
  display: inline-block;
  width: 90px;
}

.afo-file-type{
  font-size: 24px;
}