/* Afo Catalogue Page*/

/* Stefano's original CSS from main.css */


#page-catalogue #fertMap {
  min-height: 500px;
}
#page-catalogue #fertMap {
  height: 500px;
  position: relative;
}

#page-catalogue #chartFamilies {
  height: 240px;
  width: auto;
}

#page-catalogue #resultsCountries{
  min-height: 500px;
}

#page-catalogue #crops{
  min-height: 500px;
}