/* Afo Catalogue Page*/

/* Stefano's original CSS from main.css */


#page-catalogue{

  .afo-title-gray{
    margin-top: 0;
  }

  .panel-left {
    height: 400px;
    overflow-y:auto;
  }


}

#page-catalogue #fertMap {
  min-height: 400px;
  margin-top: 30px;
  height: 400px;
  position: relative;
}

#page-catalogue #chartFamilies {
  height: 240px;
  width: auto;
}

#page-catalogue #resultsCountries{
  min-height: 400px;
}

#page-catalogue #crops{
  min-height: 400px;
}


